@model EmployeeDisplay

@{
    ViewData["Title"] = "Details";
}
<p>
    <h2>Employee Details</h2>
</p>

<table class="table table-striped">
    <tr>
        <td>ID</td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td>Employee ID</td>
        <td>@Model.EmployeeId</td>
    </tr>
    <tr>
        <td>First Name</td>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td>@Model.LastName</td>
    </tr>
    <tr>
        <td>Email Address</td>
        <td>@Model.EmailAddress</td>
    </tr>
</table>

<p>
    <a asp-action="List">Back to List</a>
</p>