@model IEnumerable<EmployeeDisplay>

@{
    ViewData["Title"] = "Employees";
}

<h1>List of Employees</h1>

<p>
    <a asp-action="SignUp">Create New</a>
</p>

@if (Model == null || Model.Any() == false)
{
    <p>No employees found.</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    <label asp-for="@Model.First().EmployeeId"></label>
                </th>
                <th>
                    <label asp-for="@Model.First().FirstName"></label>
                </th>
                <th>
                    <label asp-for="@Model.First().LastName"></label>
                </th>
                <th>
                    <label asp-for="@Model.First().EmailAddress"></label>
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.EmployeeId
                    </td>
                    <td>
                        @item.FirstName
                    </td>
                    <td>
                        @item.LastName
                    </td>
                    <td>
                        @item.EmailAddress
                    </td>

                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Update" asp-route-id="@item.Id">Update</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
